/target
**/*.rs.bk
Cargo.lock
.env
.idea/
.vscode/
*.log
/data
/config/environments/*.toml
!/config/environments/*.example.toml

test-data/
test-ledger/

temp/
config/

.ledger/

*.tfstate
*.tfstate.backup
.terraform/
crash.log
terraform.tfvars
*.tfplan